.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        .contents
          = link_to "#", class: "contents_btn" do
            =icon('far', 'edit')
          = link_to edit_user_path(current_user), class: "contents_btn" do
            =icon('fas', 'cog')
  .side-bar__group-list
    .lists__title
      テックキャンプ
    .messages
      まだメッセージがありません