.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .top-items__name
        永峯
      .top-items__icons
        .contents
          = link_to "#", class: "contents_btn" do
            =icon('far', 'edit')
          = link_to "#", class: "contents_btn" do
            =icon('fas', 'cog')
  .side-bar__group-list
    .lists__title
      テックキャンプ
    .messages
      まだメッセージがありません